data/data
*.o
*.lo
*.loT
*.swp
*.la
*.gcno
*.gcda
*.gcov
*.pyc
*~
\#*\#
.deps
.libs
.dirstamp
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.guess.cdbs-orig
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/config.sub.cdbs-orig
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/py-compile
/stamp-h1
/ylwrap
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/arki/libconfig.h
/arki/stamp-h2
/arki-check.1
/arki-dump.1
/arki-mergeconf.1
/arki-query.1
/arki-scan.1
/arki-xargs.1
/arki-bufr-prepare.1
/arki-server.1
/arki-config.1
/arki-inbound.1
/arki-testtar.1
/src/arki-check
/src/arki-dump
/src/arki-mergeconf
/src/arki-query
/src/arki-scan
/src/arki-xargs
/src/arki-bufr-prepare
/src/arki-test
/src/test-src
/arki/tests/arki-test
/data/*.GRIB
/data/*.bufr
/data/*.grib2
/data/*.grb
/data/conf
/data/dispatched
/testenv
/testenv2
/arki/matcher/reftime/reftime-lex.h
/arki/matcher/reftime/reftime-lex.cc
/arki/matcher/reftime/reftime-parse.hh
/arki/matcher/reftime/reftime-parse.cc
/debian/arkimet*.debhelper*
/debian/arkimet*.substvars
/debian/arkimet/
/debian/arkimet-dbg/
/debian/tmp/
/debian/files
/debian/stamp-*
/doc/arkiguide.it.html
