# simple datasets

This dataset contains [segments](segments.md) with minimal indexing.

It is useful for long-term storage of data, due to the small metadata overhead
and simple structure.

The only query optimization it supports is when querying by a restricted
date-time range.

Because of the lack of a detailed index, `simple` dataset cannot efficiently
detect duplicate data on import, therefore that feature is not implemented.

## Dataset layout

At the root of the dataset there is a `MANIFEST` file that lists the segments
known to the dataset, together with their reference time spans. The MANIFEST
file can be encoded in plain text or in a `.sqlite` database.

For each segment there is an associated `.metadata` file that contains metadata
for all data in the segment. This makes it possible to select data according to
a query, without needing to rescan it every time.

For each segment there is also an associated `.summary` file, that contains a
summary of the data within the segment. This is intended to quickly filter out
segments during a query without needing to scan through all the `.metadata`
file contents, and to support summary queries by merging existing summaries
instead of recomputing them for all data queried.

## Check and repack on concat segments

### During check

{{testdoc("arki_dataset_simple_maintenance_plain.check_*")}}

### During --accurate check

{{testdoc("arki_dataset_simple_maintenance_plain.tcheck_*")}}

### During fix

{{testdoc("arki_dataset_simple_maintenance_plain.fix_*")}}

### During repack

{{testdoc("arki_dataset_simple_maintenance_plain.repack*")}}


## Check and repack on dir segments

### During check

{{testdoc("arki_dataset_simple_maintenance_plain_dirs.check*")}}

### During --accurate check

{{testdoc("arki_dataset_simple_maintenance_plain_dirs.tcheck*")}}

### During fix

{{testdoc("arki_dataset_simple_maintenance_plain_dirs.fix*")}}

### During repack

{{testdoc("arki_dataset_simple_maintenance_plain_dirs.repack*")}}
