Source: arkimet
Priority: optional
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends: debhelper (>= 9), dh-python, dh-autoreconf, dh-buildinfo,
  doxygen, pkg-config,
  liblua5.1-0-dev,
  liblzo2-dev, zlib1g-dev,
  libsqlite3-dev (>= 3.6),
  libcurl4-openssl-dev | libcurl-ssl-dev,
  libgeos++-dev,
  libdballe-dev (>= 5.0),
  libmeteo-vm2-dev,
  libeccodes-dev,
  libhdf5-dev,
  libarchive-dev,
  libzip-dev,
  libssl-dev,
  libxapian-dev,
  gawk,
  curl,
  python3-all-dev, python3-nose2, python3-werkzeug,
  python3-setproctitle, python3-h5py
Standards-Version: 3.7.2.0
XS-Python-Version: >= 2.5
XS-Vcs-Svn: https://svn.smr.arpa.emr.it/arkimet

Package: arkimet
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: python3-werkzeug, python3-setproctitle
Description: Archive for weather information
 Description to be written.

Package: arkimet-dbg
Section: debug
Architecture: any
Depends: arkimet, ${shlibs:Depends}, ${misc:Depends} 
Description: arkimet debugging symbols
 debugging symbols for the arkimet package
