Source: arkimet
Section: misc
Priority: optional
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends: debhelper (>= 13), dh-python, help2man,
  pkg-config, meson, python3-sphinx,
  flex, bison,
  liblua5.1-0-dev,
  liblzo2-dev, zlib1g-dev,
  libsqlite3-dev (>= 3.6),
  libcurl4-openssl-dev | libcurl-ssl-dev,
  libgeos-dev,
  libdballe-dev (>= 5.0),
  libmeteo-vm2-dev,
  libeccodes-dev,
  libhdf5-dev,
  libarchive-dev,
  libzip-dev,
  libssl-dev,
  libxapian-dev,
  curl, unzip,
  python3-all-dev, python3-wreport, python3-dballe, python3-werkzeug,
  python3-setproctitle, python3-h5py, python3-pil, python3-netcdf4,
  python3-shapely
Standards-Version: 4.5.1
Homepage: https://github.com/ARPA-SIMC/arkimet
Vcs-Git: https://github.com/ARPA-SIMC/arkimet.git
Vcs-Browser: https://github.com/ARPA-SIMC/arkimet

Package: arkimet
Section: misc
Architecture: any
Depends: python3-arkimet, ${shlibs:Depends}, ${misc:Depends}
Recommends: python3-werkzeug, python3-setproctitle
Description: Archive for weather information
 Description to be written.

Package: python3-arkimet
Section: python
Architecture: any
Depends:
    python3-wreport,
    python3-dballe,
    python3-werkzeug,
    python3-setproctitle,
    python3-h5py,
    python3-pil,
    python3-netcdf4,
    ${shlibs:Depends},
    ${misc:Depends}
Description: Archive for weather information (Python3 API)
 Description to be written.
 .
 These are the Python bindings.

