#!/usr/bin/make -f

VERSION=$(shell debian/vercheck)
RELEASE_PACKAGE=arkimet

%:
	dh $@ --with python3,sphinxdoc --without autoreconf -Smeson --parallel

# #DEB_MAKE_CHECK_TARGET := check

override_dh_auto_install:
	dh_auto_install
	install -d -m 0755 -o root -g root debian/tmp/etc/default/
	install -m 0644 -o root -g root debian/arki-server-defaults debian/tmp/etc/default/arki-server

vercheck:
	debian/vercheck > /dev/null

debsrc: vercheck
	if [ ! -f ../$(RELEASE_PACKAGE)_$(VERSION).orig.tar.gz ]; then \
		test -f Makefile || ./configure; \
		make -j4; \
		make dist; \
		mv $(RELEASE_PACKAGE)-$(VERSION).tar.gz ../$(RELEASE_PACKAGE)_$(VERSION).orig.tar.gz; \
	fi
	gbp buildpackage -S -us -uc
