[Unit]
Description=Arkimet server
# check the following
After=network.target remote-fs.target

[Service]
# arki-server does not fork :-( Type=simple must be used
#Type=forking
Type=simple
# no environment variable accepted here
User=arkimet
PrivateDevices=true
PrivateTmp=yes
InaccessibleDirectories=/home

EnvironmentFile=/etc/sysconfig/arkimet
ExecStartPre=/usr/bin/test -n "$DATASET_CONFIG"
ExecStart=/usr/bin/arki-server $NETWORK_OPTIONS --accesslog=${LOGDIR}/server-access.log --errorlog=${LOGDIR}/server-error.log --journald $OTHER_OPTIONS $DATASET_CONFIG

[Install]
# check the following
WantedBy=multi-user.target

